<app-menu></app-menu>
<p *ngIf="match == 'true'">Prueba</p>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="d-flex align-items-center my-5">
    <div class="card col-12 col-md-10 col-lg-8 col-xl-6 mx-auto p-3">
        <div class="card-head pb-0">
            <img src="https://image.freepik.com/foto-gratis/chica-posando-gafas-sol_1153-1985.jpg"
                class="card-img-top" alt="Imagen de un perfil">
        </div>
        <div class="p-0 d-flex justify-content-around fila-iconos-selector">
            <button class="mb-0 bg-none b-none" (click) = "calificar(true)"><i class="fas fa-heart fa-7x color-propio"></i></button>
            <button class="mb-0 bg-none b-none" (click) = "calificar(false)"><i class="fas fa-times fa-7x text-info"></i></button>
        </div>
        <div class="card-body pb-0 pt-5">
            <div class="row m-0 p-0">
                <h2 class="card-title col-6 text-left">{{contacto.nombre}}</h2>
                <h3 class="card-title col-6 text-right">{{contacto.edad}} años</h3>
            </div>
 
        </div>
    </div>
</div>

<app-footer></app-footer>
