<app-menu></app-menu>

<div class="container-fluid p-0 contenedor-titulo">
    <h1 class="text-center py-5 mb-0"><span class="color-propio">¡Hola {{usuario.nombre}}!</span><span class="h3"> Tu id es {{usuario.id}}</span><br><span class="h2">Echa un vistazo a estos perfiles</span></h1>
</div>

<div class="container p-0">
    <div class="d-flex flex-row flex-wrap p-0 m-0 pt-lg-5">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2" *ngFor="let perfil of perfiles">
            <a routerLink="/perfil/{{perfil.id}}" class="text-body card-propio">
                <div class="card  p-3">
                    <img src="{{perfil.img}}"
                        class="card-img-top" alt="Imagen de un perfil">
                    <div class="card-body p-0 pt-3">
                        <div class="row m-0 p-0">
                            <h4 class="card-title col-8 m-0 p-0 text-left">{{perfil.nombre}}</h4>
                            <h4 class="card-title col-4 m-0 p-0 text-right">{{perfil.edad}}</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<app-footer></app-footer>